@charset "utf-8";
/* CSS Document */

@font-face{
font-family:abel ;
font-style:normal;
font-weight:400;
src: url('font/Abel-Regular.ttf') format('truetype')}

@font-face{
font-family:source ;
font-style:normal;
font-weight:400;
src: url('font/SourceSansPro-Regular.ttf') format('truetype')}

@font-face{
font-family:zurich ;
font-style:normal;
font-weight:400;
src: url('font/zurich-cn-bt-bold.ttf') format('truetype')}